In [ ]:
import numpy as np
import pandas as pd


# Recreate the modified file (since it doesn't exist in current session)
data_path = "Data/Data.csv"
salaries_path = "Data/Salaries.csv"

data_df = pd.read_csv(data_path)
salaries_df = pd.read_csv(salaries_path)

# Clean Salaries.csv
salaries_df = salaries_df.drop(columns=['Id', 'EmployeeName', 'Notes', 'Agency', 'Status', 'Year'])
salaries_df['BasePay'] = pd.to_numeric(salaries_df['BasePay'], errors='coerce')
salaries_df['OvertimePay'] = pd.to_numeric(salaries_df['OvertimePay'], errors='coerce')
salaries_df['OtherPay'] = pd.to_numeric(salaries_df['OtherPay'], errors='coerce')
salaries_df['Benefits'] = pd.to_numeric(salaries_df['Benefits'], errors='coerce')
salaries_df = salaries_df[salaries_df['TotalPayBenefits'] > 0]

# Clean Data.csv
data_df = data_df.drop(columns=['RowNumber', 'CustomerId', 'Surname', 'EstimatedSalary'])

# Assign occupations randomly
np.random.seed(42)
data_df['Occupation'] = np.random.choice(salaries_df['JobTitle'].unique(), size=len(data_df))

# Merge mean salary
job_salaries = salaries_df.groupby('JobTitle')['TotalPayBenefits'].mean().reset_index()
job_salaries.rename(columns={'JobTitle': 'Occupation', 'TotalPayBenefits': 'MeanSalary'}, inplace=True)
data_df = data_df.merge(job_salaries, on='Occupation', how='left')

# Feature engineering
data_df['Age_Tenure_Score'] = (data_df['Age'] * data_df['Tenure'])
data_df['Age_Tenure_Score'] = (data_df['Age_Tenure_Score'] - data_df['Age_Tenure_Score'].min()) / (data_df['Age_Tenure_Score'].max() - data_df['Age_Tenure_Score'].min())
data_df['Credit_Score_Norm'] = (data_df['CreditScore'] - data_df['CreditScore'].min()) / (data_df['CreditScore'].max() - data_df['CreditScore'].min())
data_df['Balance_Norm'] = (data_df['Balance'] - data_df['Balance'].min()) / (data_df['Balance'].max() - data_df['Balance'].min())

# Realistic salary calculation
data_df['RealisticSalary'] = (data_df['Age_Tenure_Score'] * 0.4 +
                              data_df['Credit_Score_Norm'] * 0.3 +
                              data_df['Balance_Norm'] * 0.3) * 200000 + 50000

# Drop helper columns but keep Occupation
data_df = data_df.drop(columns=['Age_Tenure_Score', 'Credit_Score_Norm', 'Balance_Norm', 'MeanSalary'])

# Save to CSV
output_path = "Data/Modified_Data.csv"
data_df.to_csv(output_path, index=False)

C:\Users\DELL\AppData\Local\Temp\ipykernel_4952\2035950234.py:9: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries_df = pd.read_csv(salaries_path)

In [42]:
data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Exited,Occupation,RealisticSalary
0,619,France,Female,42,2,0.00,1,1,1,1,SENIOR CLERK TYPIST,89916.363636
1,608,Spain,Female,41,1,83807.86,1,0,1,0,Assistant Law Librarian,104729.161448
2,502,France,Female,42,8,159660.80,3,1,0,1,Dept Head II,136966.885102
3,699,France,Female,39,1,0.00,2,0,0,0,Chief Atty1 (Civil & Criminal),95425.454545
4,850,Spain,Female,43,2,125510.82,1,1,1,0,Dental Hygienist,147832.954748
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,0,IS Administrator 1,118247.272727
9996,516,France,Male,35,10,57369.61,1,1,1,0,"SENIOR INVESTIGATOR, OFFICE OF CITIZEN'S COMPL...",115457.603118
9997,709,France,Female,36,7,0.00,1,0,1,1,DIETETIC TECHNICIAN,115989.090909
9998,772,Germany,Male,42,3,75075.31,2,1,0,1,TRANSMISSION LINE SUPERVISOR I,130048.124137
9999,792,France,Female,28,4,130142.79,1,1,0,0,Water Service Inspector,144344.284678